Repository UniRegensburg/unsere-app-fur-die-universitat-regensburg-code-companion, pull requests merged in 2021-02, with the labels that each got.

#67 [refactor] removed PluginHelper and unnecessary listeners
  Plugin/src/main/java/app/App.java
  Plugin/src/main/java/app/listeners/ListenerHelper.java
  Plugin/src/main/java/app/listeners/base/BaseListener.java
  Plugin/src/main/java/app/listeners/topics/BreakpointListener.java
  Plugin/src/main/java/app/listeners/topics/CodeCompletionListener.java
  Plugin/src/main/java/app/listeners/topics/FileListener.java
  Plugin/src/main/java/app/listeners/topics/FindListener.java
  Plugin/src/main/java/app/listeners/topics/IDECommandListener.java
  Plugin/src/main/java/app/listeners/topics/IDEHintListener.java
  Plugin/src/main/java/app/listeners/topics/ProjectListener.java
  Plugin/src/main/java/app/listeners/topics/RefactoringListener.java
  Plugin/src/main/java/app/listeners/topics/RunListener.java
  Plugin/src/main/java/app/listeners/topics/TaskListener.java
  Plugin/src/main/java/app/listeners/ui/MenuActionListener.java
  Plugin/src/main/java/app/listeners/ui/PopupMenuListener.java
  Plugin/src/main/java/app/services/application/ApplicationService.java
  Plugin/src/main/java/app/services/log/LogService.java
  Plugin/src/main/java/pluginhelper/User/User.java
  Plugin/src/main/java/pluginhelper/com/UploadClient.java
  Plugin/src/main/java/pluginhelper/com/UploadClientListener.java
  Plugin/src/main/java/pluginhelper/config/PluginConfiguration.java
  Plugin/src/main/java/pluginhelper/logger/Log.java
  Plugin/src/main/java/pluginhelper/logger/LogData.java
  Plugin/src/main/java/pluginhelper/logger/LogDataType.java
  Plugin/src/main/java/pluginhelper/logger/LogManager.java
  Plugin/src/main/java/pluginhelper/logger/SyncProgressListener.java
  Plugin/src/main/java/pluginhelper/tasks/TaskConfiguration.java
  Plugin/src/main/java/pluginhelper/ui/UserDialogManager.java
  Plugin/src/main/java/pluginhelper/ui/UserResponse.java
Labels: plugin

#77 Send and view task informations
  CodeCompanion/app/src/main/java/com/example/codecompanion/MainActivity.java
  CodeCompanion/app/src/main/java/com/example/codecompanion/ui/tasks/TasksFragment.java
  CodeCompanion/app/src/main/java/com/example/codecompanion/util/TaskManager.java
  CodeCompanion/app/src/main/java/com/example/codecompanion/util/TaskViewAdapter.java
  CodeCompanion/app/src/main/res/layout/fragment_tasks.xml
  CodeCompanion/app/src/main/res/layout/rv_task.xml
  Plugin/src/main/java/app/ConnectionStateAction.java
  Plugin/src/main/java/app/MessageHandler.java
  Plugin/src/main/java/app/QRPopupAction.java
  Plugin/src/main/java/app/services/application/ApplicationService.java
  TemplateProject/.idea/.gitignore
  TemplateProject/.idea/misc.xml
  TemplateProject/.idea/modules.xml
  TemplateProject/.idea/vcs.xml
  TemplateProject/TemplateProject.iml
  TemplateProject/src/main.java
  TemplateProject/task.json
Labels: app, plugin

#80 Refactor app UI
  CodeCompanion/app/src/main/java/com/example/codecompanion/MainActivity.java
  CodeCompanion/app/src/main/java/com/example/codecompanion/ui/compiler/CompilerFragment.java
  CodeCompanion/app/src/main/java/com/example/codecompanion/ui/home/HomeFragment.java
  CodeCompanion/app/src/main/java/com/example/codecompanion/ui/tasks/TasksFragment.java
  CodeCompanion/app/src/main/res/drawable/button_blue.xml
  CodeCompanion/app/src/main/res/drawable/button_green.xml
  CodeCompanion/app/src/main/res/drawable/button_grey.xml
  CodeCompanion/app/src/main/res/drawable/button_red.xml
  CodeCompanion/app/src/main/res/drawable/color_gradient.xml
  CodeCompanion/app/src/main/res/drawable/ic_baseline_equalizer_white.xml
  CodeCompanion/app/src/main/res/drawable/ic_baseline_leak_add_white.xml
  CodeCompanion/app/src/main/res/drawable/ic_baseline_phonelink_white.xml
  CodeCompanion/app/src/main/res/drawable/ic_baseline_screen_share_white.xml
  CodeCompanion/app/src/main/res/drawable/ic_baseline_sync_white.xml
  CodeCompanion/app/src/main/res/drawable/message_error_template.xml
  CodeCompanion/app/src/main/res/drawable/message_warning_template.xml
  CodeCompanion/app/src/main/res/layout/activity_main.xml
  CodeCompanion/app/src/main/res/layout/fragment_compiler.xml
  CodeCompanion/app/src/main/res/layout/fragment_home.xml
  CodeCompanion/app/src/main/res/layout/fragment_profile.xml
  CodeCompanion/app/src/main/res/layout/fragment_tasks.xml
  CodeCompanion/app/src/main/res/layout/rv_message_error.xml
  CodeCompanion/app/src/main/res/layout/rv_message_warning.xml
  CodeCompanion/app/src/main/res/layout/rv_task.xml
  CodeCompanion/app/src/main/res/menu/bottom_nav_menu.xml
  CodeCompanion/app/src/main/res/navigation/mobile_navigation.xml
  CodeCompanion/app/src/main/res/values-night/themes.xml
  CodeCompanion/app/src/main/res/values/colors.xml
  CodeCompanion/app/src/main/res/values/themes.xml
  TemplateProject/src/main.java
  TemplateProject/task.json
Labels: app, design

#94 [feature] Added funmessages
  CodeCompanion/app/src/main/java/com/example/codecompanion/ui/compiler/CompilerFragment.java
  CodeCompanion/app/src/main/java/com/example/codecompanion/ui/home/HomeFragment.java
  CodeCompanion/app/src/main/java/com/example/codecompanion/ui/tasks/TasksFragment.java
  CodeCompanion/app/src/main/res/values/strings.xml
Labels: feature
